.productListContainer {
    display: flex;
    gap: 25px;
}

.productListContainer {
    width: 90vw;
    display: flex;
    margin: auto;
}

.productListItems {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
}

.filterSpan {
    color: black;
    font-size: 1.5rem;
}

a {
    height: fit-content;
}