.title {
    text-align: center;
}

.title > h2 {
    color: black;
    font-family: var(--fontFamilyPrincipal);
    margin-bottom: 20px;
    font-size: 2rem;
}

hr {
    border: 0;
    height: 2px;
    width: 300px;
    background-color: #000000;
    margin: 35px auto;
}