.filterAdminContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 10px;
}

.filterAdminContainer > input {
    padding: 10px;
    border-radius: 20px;
}