footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--mainColor);
    font-family: var(--fontFamilyPrincipal);
    padding: 30px 0;
}