:root {
  --fontFamilyPrincipal: "Afacad Flux", sans-serif;
  --fontFamilySecondary: "Playfair Display", serif;
  --mainColor: #0b3874;
  --secondaryColor: #42699d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
