.adminContainer {
    display: flex;
    height: 100vh;
}

.adminContent {
    flex: 1;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
    cursor: pointer;
}

.createNewProductConatiner {
    padding-bottom: 50px;
}