aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    height: 100vh;
}

.containerItems {
    flex: 1
}

.optionContainer {
    padding: 25px 20px;
    width: 150px;
    text-align: center;
}

.optionContainer:hover {
    cursor: pointer;
    background-color: var(--secondaryColor);
}

.optionContainer > p {
    color: #fff;
}

.email {
    padding-top: 8px;
    font-size: 14px;
    word-wrap: break-word;
}