aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
}

.optionContainer {
    padding: 25px 20px;
    width: 150px;
    text-align: center;
}

.optionContainer:hover {
    cursor: pointer;
    background-color: var(--secondaryColor);
}

p {
    color: #fff;
}